@import '../../components/styles/colors';

#btn-add-cart {
  color: $green;
  background-color: white !important;
  direction: initial;
  border: 2px solid;
  padding: .3rem !important;
  margin-left: 1rem;

  svg {
    margin-right: 1rem;
    transform: translate(3px, 3px) scale(2);
  }
}

.ant-select-arrow {
  left: 11px !important;
  right: auto !important;
}

.modal-content {
  background-color: $gray;
  color: $white;
  font: normal normal normal 16px/27px;
  letter-spacing: 0px;
  text-align: left;


}

.modal-header {
  border: none;
}

.modal-body {
  background-color: $gray;
}

.modal-footer {
  border: none;
}