@import "./colors";
@import "bootstrap/dist/css/bootstrap.min.css";


.routLayout{
    background-color: $black;
}
// .btn-purple {
//     background-color: $purple;
//     color: #fff;
//     border-color: $purple;
//     border-radius: 1.1875rem !important;
//     padding: 0.2rem 1.1rem !important;
// }
.breadcrumb {
    background-color: $black;
    margin-bottom   : 0;
    padding-right   : 0;
    padding-top     : 0;

    .breadcrumb-item {
        font-size: 14px;
        text-shadow: none;
        
        &:first-child::before{
            display: none;
        }
        &::before {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            padding-top: 0.1rem;
            float: right;
            color: $purple;
            content: ">";
        }

        a {
            text-decoration: none;
            color          : $white;
            font-size      : 13px;
        }
    }
}

table {
    border-collapse: separate;
    border-spacing : 0 .5rem;

    thead {
        background-color: $black;
        color           : #fff;
        font-size       : 13px IRANSans;
    }

    tr {
        background-color: $black;
        z-index: 10;
        position: relative;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        .green-shadow{
            position: absolute;
            z-index: -1;
            background-color: #0A2B37;
            width: 60%;
            height: 100%;
            right: 0px;
        }
        .red-shadow{
            position: absolute;
            z-index: -1;
            background-color: #1E1B31;
            width: 60%;
            height: 100%;
            right: 0px;
        }
    }
}

.text-success {
    color: $purple !important;
}
.text-success-green {
    color: $green !important;
}

.text-danger {
    color: $red !important;
}
.form-control{
    font-size: 14px!important;

    &::placeholder{
        font-size: 13px!important;

    }
}
.form-control:disabled, .form-control[readonly] {
    background-color: $gray-light!important;
    opacity: 1;
}
